# Nordic Semiconductor nRF51 MCU line

# Copyright (c) 2016 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "nRF51x MCU Selection"
	depends on SOC_SERIES_TLE987X

config SOC_TLE9879QXA40
	bool "TLE9879QXA40"
	select HAS_HW_NRF_ADC

config SOC_TLE9879QXW40
	bool "TLE9879QXW40"
	select HAS_HW_NRF_ADC
	select HAS_HW_NRF_CCM

endchoice
